{% extends "../_base.html" %}
<!--  -->
{% block content %}
<div class="container under-container index-area">
  <h3>{{ theme.title }} のランキング</h3>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>順位</th>
        <th>得点</th>
        <th>名前</th>
        <th>画像</th>
      </tr>
    </thead>
    <tbody>
      {% for item in items %}
      <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ item.point }}</td>
        <td>{{ item.name }}</td>
        {% load static %}
        <td>
          <img src="{% static 'files/' %}{{ item.file.file_name }}" alt="" />
        </td>
      </tr>
      {% empty %}
      <tr>
        <td colspan="4">ランキングデータがありません。</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
